<div class="container" style="width: 50%!important;">
  <mat-form-field style="width: 100%!important;">
    <mat-label>Filtro</mat-label>
    <input matInput type="text" (keyup)="aplicarFiltro($event)">
  </mat-form-field>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let imagen of filtrarPorDescripcion()">
      <img [src]="imagen.url" (click)="openDialog(imagen.url)" alt="foto">
      <mat-grid-tile-footer>
        <h3>{{ imagen.descripcion }}</h3>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="container pt-2">
    <mat-form-field style="width: 50%!important;">
      <mat-label>Url imagen</mat-label>
      <input matInput type="text" [(ngModel)]="foto">
    </mat-form-field>
    <mat-form-field style="width: 50%!important;">
      <mat-label>Descripcion</mat-label>
      <input matInput type="text" [(ngModel)]="descripcion">
    </mat-form-field>
  </div>
  <div class="field is-grouped is-grouped-centered pb-2">
    <div class="demo-button-container">
      <button (click)="anyadirFoto()" class="button is-black">
        Add data
      </button>
    </div>
  </div>

</div>


