<div class="container">

  <form [formGroup]="encuestaForm" (ngSubmit)="agregarRespuestas()">
    <div class="columns">
      <div class="column">
        <label>
          Estación favorita:
          <mat-radio-group formControlName="estacion">
            <mat-radio-button *ngFor="let est of estaciones" [value]="est">{{est}}</mat-radio-button>
          </mat-radio-group>
        </label>
      </div>
      <div class="column">
        <label>
          Forma favorita:
          <mat-radio-group formControlName="forma">
            <mat-radio-button *ngFor="let form of formas" [value]="form">{{form}}</mat-radio-button>
          </mat-radio-group>
        </label>
      </div>
      <div class="column">
        <label>
          Color favorito:
          <mat-radio-group formControlName="color">
            <mat-radio-button *ngFor="let colo of colores" [value]="colo">{{colo}}</mat-radio-button>
          </mat-radio-group>
        </label>
      </div>
    </div>
    <div class="column is-full has-text-centered">
      <div class="demo-button-container">
        <button type="submit" [disabled]="encuestaForm.invalid" class="button is-black">
          Respuestas
        </button>
      </div>
    </div>
  </form>

  <div class="column is-full has-text-centered">
    <div class="demo-button-container">
      <button type="submit" (click)="reset()" class="button is-black">
        Reset
      </button>
    </div>
  </div>

  <div class="columns is-centered mb-6">
    <div class="column is-one-third">
      <mat-card [ngStyle]="{'display': cuestionario.color === '' ? 'none' : 'block'}">
        <mat-card-header >
          <mat-card-title> Respuestas:</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-2 has-text-centered">
          <p><strong>Estacion:</strong> {{cuestionario.estacion}}</p>
          <p><strong>Forma:</strong> {{cuestionario.forma}}</p>
          <p><strong>Color:</strong> {{cuestionario.color}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
